.hidden {
    display: none;
}

.dark {
    background-color: black;
    color: white;
}
#outerDiv {
    background-color: gray;
}
#mouseMove {
    height: 360px;
    background-color: darkblue;
    width: 360px;
}
